[submodule "Backend"]
	path = Backend
	url = git@github.com:AdrianMendez1199/testReactNodeBackend.git
	branch = master
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:AdrianMendez1199/ticket.git
	branch = master